# Python 기초 Example

### 목차

[1. 문자열 ](#문자열-Example)\
[2. List ](#List-Example)\
[3. Dictionary ](#Dictionary-Example)\
[4. Set ](#Set-Example)\
[5. IF ](#조건문-If)\
[6. While ](#반복문-While)\
[7. For ](#반복문-For)\
[8. 함수 ](#Function)\
[8-1. 기타 함수 ](#기타-함수)\
[9. 입출력 ](#입출력-Example)\
[10. Module & Package ](#Module-&-Package-Example)\
[#. 쉬어가는 문제](#쉬어가기-문제)

## 문자열 Example

In [1]:
# Q1. 홍길동의 주민번호는 881120-1068234이다. 연월일(YYMMDD)부분과 그 뒤의 숫자 부분으로 나누어보자
hong = '881120-1068234'
print(hong.split('-'))

['881120', '1068234']

In [2]:
# Q2. 주민번호 뒷자리의 맨 첫번째 숫자는 성별을 나타낸다. 홍길동의 성별을 나타내는 숫자를 출력해보자
hong[7]

if hong[7] == '1':
    print('남자')
else:
    print('여자')

남자

In [3]:
# Q3. a:b:c:d를 replace를 활용해서 a#b#c#d를 출력해보자
ex3 = 'a:b:c:d'
ex3.replace(':','#')

'a#b#c#d'

In [4]:
# Q4. 인터넷 사이트 암호 만들기
# http://naver.com
# 규칙1 : http:// 부분은 제외 => naver.com
# 규칙2 : 처음 만나는 점(.) 이후 부분은 제외 => naver
# 규칙3 : 남은 글자 중 처음 세자리 + 글자 갯수 + 글자 내 'e' 갯수 + '!'로 구성
#                   (nav)           (5)         (1)                 (!)
# ex) 생성된 비밀번호 : nav51!

In [5]:
# 내 풀이
addr = 'https://www.google.com'
len(addr)
addr.find('/')
addr_1 = addr[addr.find('/')+2:]
print(addr_1)
addr_1.find('.')
addr_2 = addr_1[:5]
print(addr_2)
a = addr_2[:3]
b = len(addr_2)
c = addr_2.count('e')
d = '!'
print(a,b,c,d)
password = a+str(b)+str(c)+d
print(password)

www.google.com
www.g
www 5 0 !
www50!

In [6]:
# 답안
url = 'http://naver.com'
my_str = url.replace('http://', '')
my_str = my_str[:my_str.index('.')]
password = my_str[:3] + str(len(my_str)) + str(my_str.count('e')) + '!'
print(password)

nav51!

[목차로 돌아가기](#목차)

## List Example

In [7]:
# 리스트의 생성
# Q1. 1부터 10까지의 숫자 중 짝수를 요소로 가지는 even_list라는 리스트를 생성(10을 포함)
# print()를 사용해서 even_list = [2,4,6,8,10]을 출력
print(list(range(2,11,2)))

[2, 4, 6, 8, 10]

In [8]:
# 리스트의 슬라이싱
# Q1. range(15) 함수를 사용하여 다음과 같은 리스트를 생성하라
# n_list = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14]
print(list(range(15)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [9]:
# Q2. Q1의 n_list로부터 슬라이싱을 수행하여 다음과 같은 리스트 생성
n_list = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14]
print(n_list)
print(n_list[:5])
print(n_list[5:11])
print(n_list[11:15])
print(n_list[2:11:2])
print(n_list[10:5:-1])
print(n_list[10:1:-2])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
[0, 1, 2, 3, 4]
[5, 6, 7, 8, 9, 10]
[11, 12, 13, 14]
[2, 4, 6, 8, 10]
[10, 9, 8, 7, 6]
[10, 8, 6, 4, 2]

In [10]:
# 리스트 메소드의 응용
# Q1. a의 리스트 원소 값이 [1,2,3]이고 b 리스트의 원소 값이 [10,20,30]이다.
# a 리스트에 append(b)와 extend(b)를 할 때 어떻게 나타날까?
# 1
a = [1,2,3]
b = [10,20,30]
a.append(b)
print(a)

# 2
a = [1,2,3]
b = [10,20,30]
a.extend(b)
print(a)

[1, 2, 3, [10, 20, 30]]
[1, 2, 3, 10, 20, 30]

In [11]:
# Q2. 1부터 10까지의 정수 값을 원소로 가지는 nlist를 생성하여 다음과 같이 출력하자
nlist = [1,2,3,4,5,6,7,8,9,10]
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [12]:
# Q3. insert를 활용하여 nlist의 맨 앞에 0을 삽입하라
nlist.insert(0,0)
nlist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [13]:
# Q4. nlist를 역순으로 다시 배열 reverse활용
nlist.reverse()
nlist

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [14]:
# Q5. nlist의 마지막 원소를 pop활용하여 출력 및 삭제
nlist.pop(-1)
nlist

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [15]:
# Q6. 리스트 인덱싱
a = ['Life','is','too','short','you','need','python']
print(a[4]+ ' '+a[2])

you too

In [16]:
# Q7.리스트 조인
a = ' '
a.join(['Life','is','too','short'])

'Life is too short'

In [17]:
# Q8.리스트 갯수
a = [1,2,3]
len(a)

3

In [18]:
# Q9.리스트의 append & extend
a = [1,2,3]
a.append([4,5])
a

[1, 2, 3, [4, 5]]

In [19]:
a = [1,2,3]
a.extend([4,5])
a

[1, 2, 3, 4, 5]

In [20]:
# Q.리스트 정렬
a = [1,3,5,4,2]
a.sort()
a.reverse()
a

[5, 4, 3, 2, 1]

In [21]:
# 또는
a = [1,3,5,4,2]
a.sort(reverse=True)
a

[5, 4, 3, 2, 1]

In [22]:
# Q.리스트 삭제
a = [1,2,3,4,5]
a.remove(2)
a.remove(4)
a

[1, 3, 5]

[목차로 돌아가기](#목차)

## Dictionary Example

In [23]:
# Q1. 딕셔너리 만들기
q1 = {'name':'홍길동', 'birth':'1128', 'age':30}
q1

{'name': '홍길동', 'birth': '1128', 'age': 30}

In [24]:
# Q2. 딕셔너리 값 추출1
# 그리고 삭제 >> Pop
a = {'A':90, 'B':80, 'C':70}
print(a.pop('B'))
a

80

{'A': 90, 'C': 70}

In [25]:
# Q3. 딕셔너리 값 추출2
a = {'A':90, 'B':80}
# a['C'] # >> 에러
a.get('C',70)

70

In [26]:
# Q4.
a = {'A':90, 'B':80, 'C':70}
min(a.values())

70

In [27]:
# Q5. 딕려너리 리스트 변환 >> key와 value가 tuple형식으로 뽑힌 후 리스트로 묶임
a = {'A':90, 'B':80, 'C':70}
list(a.items())

[('A', 90), ('B', 80), ('C', 70)]

In [28]:
# 딕셔너리 활용
# Q1. key와 value를 list형식으로 출력
fruits_dic = {'apple':6000,'melon':3000,'banana':5000,'orange':4000}
print(list(fruits_dic.keys()))
print(list(fruits_dic.values()))
print('fruits_dic 딕셔너리의 항목의 개수 :',len(fruits_dic))
print('apple' in fruits_dic)

['apple', 'melon', 'banana', 'orange']
[6000, 3000, 5000, 4000]
fruits_dic 딕셔너리의 항목의 개수 : 4
True

[목차로 돌아가기](#목차)

## Set Example

In [29]:
s = {'a','b','c'}
s

{'a', 'b', 'c'}

In [30]:
# 중복 제거
a = [1,1,1,2,2,3,3,3,4,4,5]
list(set(a))

[1, 2, 3, 4, 5]

In [31]:
# s1에서 s2 중복값을 제거
s1 = set(['a','b','c','d','e'])
s2 = set(['c','d','e','f','g'])
s1-s2

{'a', 'b'}

In [32]:
a = {'a','b','c'}
print(a)
print(type(a))

{'c', 'a', 'b'}
<class 'set'>

In [33]:
# set 타입 변환
a = {}
type(a)
type(set(a))

set

In [34]:
# 값 여러개 추가하기
a = {'a','b','c'}
a.update(['d','e','f'])
a

{'a', 'b', 'c', 'd', 'e', 'f'}

In [35]:
# Q. 리스트 복사1
a = [1,2,3]
b = a[:]
a is b

False

In [36]:
a = [1,2,3]
b = a[:]
a[1] = 4
print(a)
b

[1, 4, 3]

[1, 2, 3]

In [37]:
# Q. 리스트 더하기와 extend(주소 차이) / 리스트 복사2
a = [1,2,3]
print('a의 주소 :',id(a))
a = a+[4,5]
print('a+[4,5]를 한 주소 :',id(a))
a

a의 주소 : 1829958492288
a+[4,5]를 한 주소 : 1829958229952

[1, 2, 3, 4, 5]

In [38]:
a = [1,2,3]
print('a의 주소 :', id(a))
a.extend([4,5])
print('a.extend([4,5])를 한 주소 :', id(a))
a

a의 주소 : 1829958185216
a.extend([4,5])를 한 주소 : 1829958185216

[1, 2, 3, 4, 5]

In [39]:
# Q. 리스트 복사3  >> 목록형 데이터인 경우 slice를 해도 동기화됨(예외 example)
a = [1,[2,3],4]
b = a[:]

a[1][0] = 5
print(a)
print(b)

[1, [5, 3], 4]
[1, [5, 3], 4]

[목차로 돌아가기](#목차)

## 조건문 IF Example

In [40]:
# 조건문
# 실습1
game_score = 1300
if game_score >= 1000:
    print('당신은 고수입니다')

당신은 고수입니다

In [41]:
# 실습2
num_a = 100
num_b =200
# num_a, num_b = 100,200

if num_a == num_b:
    print('두 값이 일치합니다')
else:
    print('두 값이 불일치합니다')

두 값이 불일치합니다

In [42]:
# Q. 임의의 숫자를 받아온 후 짝수 홀수 구분하기
n = int(input('정수를 입력하세요 :'))
if n%2 == 0:
    print(n,'은 짝수입니다')
else:
    print(n,'은 홀수입니다')

정수를 입력하세요 :1243
1243 은 홀수입니다

In [43]:
# Q. -100에서 100의 임의의 정수를 입력받아 x에 입력
# 1. x출력
# 2. x가 0보다 큰 정수이면 '...은 자연수입니다'
# 3. 그렇지 않을 경우 x를 단순 출력

while True:
    x = int(input('-100에서 100까지의 정수를 입력하시오 :'))
    if (x<-100 or x>100):
        print('다시 -100에서 100까지의 정수를 입력하시오')
    elif x>0:
        print(x,'은(는) 자연수입니다')
        break
    else:
        print(x)
        break

-100에서 100까지의 정수를 입력하시오 :111
다시 -100에서 100까지의 정수를 입력하시오
-100에서 100까지의 정수를 입력하시오 :-111
다시 -100에서 100까지의 정수를 입력하시오
-100에서 100까지의 정수를 입력하시오 :50
50 은(는) 자연수입니다

In [44]:
# 복합 조건식의 이해
# Q1.
num = 2
if (num >=1 and num <= 10):
    print(1 <= num <= 10)

True

In [45]:
# Q2.
age = 9
if (age>10 and age<19):
    print('청소년입니다')

In [46]:
# Q1. if elif else
# 자동차 속도를 입력받자
# 100이상이면 '고속'
# 60이상 100미만 이면 '중속'
# 60미만 이면 '저속'을 출력

x = int(input('자동차 속도(speed km/h)를 입력하시오 :'))
if x >= 100:
    print('고속')
elif x >= 60:
    print('중속')
else:
    print('저속')

자동차 속도(speed km/h)를 입력하시오 :99
중속

In [47]:
# Q1. 조건문
money = 3000
card = False
hong = [money, card]

if money in hong:
    if money >= 4000 or card:
        print('택시를 타시오')
    else:
        print('걸어가시오')

걸어가시오

In [48]:
# Q2. 조건문
# 홍길동의 행운번호는 23이다.
# 당첨리스트 lucky_list = [1,9,23,46]
# 당첨되었다면 '야호'를 출력하라
hong = 9
lucky_list = [1,9,23,46]
if hong in lucky_list:
    print('야호')

야호

In [49]:
# Q3. 나이가 30미만이고 키가 175이상인 경우 'YES'출력 아닌 경우 'NO'출력
data = '나이:30, 키:180'
data = data.split(',')

data_age = data[0].split(':')
data_height = data[1].split(':')

if int(data_age[1]) < 30 and int(data_height[1]) >= 175:
    print('YES')
else:
    print('NO')

NO

In [50]:
# Q4. 다음 코드의 결과값은?
a = 'life is too short, you need python'
if 'wife' in a:
    print('wife')
elif 'python' in a and 'you' not in a:
    print('python')
elif 'shirt' not in a:
    print('shirt')  # ! short가 아님 주의 !
elif 'need' in a:
    print('need')
else:
    print('none')

shirt

[목차로 돌아가기](#목차)

## 반복문 While Example

In [51]:
# Q1. 1부터 100까지 더하기
n = 0
sum1 = 0
while n<=100:
    sum1 = sum1 + n
    n = n + 1
print(sum1)

5050

In [52]:
# Q2. 1부터 1000까지의 자연수 중 3의 배수의 합
n=0
sum2=0
while n<=1000:
    if n%3 == 0:
        sum2 = sum2+n
    n += 1
print(sum2)

166833

In [53]:
# Q3. 50점 이상의 총합
A = [20,55,67,82,45,33,90,87,100,25]
i = 0
sum3 = 0

while i<=(len(A)-1):
    if A[i] >= 50:
        sum3 = sum3 + A[i]
        i += 1
        
    else:
        i += 1
print(sum3)

481

In [54]:
# Q4. 별 표시하기
n = '*'
i = 1
while i<=4:
    print(n*i)
    i += 1

*
**
***
****

[목차로 돌아가기](#목차)

## 반복문 For Example

In [55]:
# range와 list를 사용하여 1이상 100이하의 자연수 리스트를 만드시오.
print(list(range(1,101)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [56]:
# 1이상 100이하의 짝수, 홀수
print(list(range(0,101,2)))
print(list(range(1,101,2)))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [57]:
# -100보다 크고 0보다 작은 음수 리스트
print(list(range(-1,-101,-1)))

[-1, -2, -3, -4, -5, -6, -7, -8, -9, -10, -11, -12, -13, -14, -15, -16, -17, -18, -19, -20, -21, -22, -23, -24, -25, -26, -27, -28, -29, -30, -31, -32, -33, -34, -35, -36, -37, -38, -39, -40, -41, -42, -43, -44, -45, -46, -47, -48, -49, -50, -51, -52, -53, -54, -55, -56, -57, -58, -59, -60, -61, -62, -63, -64, -65, -66, -67, -68, -69, -70, -71, -72, -73, -74, -75, -76, -77, -78, -79, -80, -81, -82, -83, -84, -85, -86, -87, -88, -89, -90, -91, -92, -93, -94, -95, -96, -97, -98, -99, -100]

In [58]:
# Q1. 1부터 100까지 출력
result = [x for x in range(1,101)]
print(result)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [59]:
result = [x for x in range(1,1001) if x%5==0]

In [60]:
# Q2. 5의 배수 총합 (1부터 1000까지)
result = [x for x in range(1,1001) if x%5==0]

s = 0
for i in range(1,1001):
    if i % 5 == 0:
        s += i
print(s)

100500

In [61]:
A = [79,60,55,75,95,90,80,80,85,100]
sum(A)

799

In [62]:
# Q3. 학급의 평균 점수 >> A의 평균 점수
A = [79,60,55,75,95,90,80,80,85,100]
for i in A:
    A_avg = sum(A)/len(A)
print(A_avg)

79.9

In [63]:
# Q4. 각 혈액형별 학생수의 합계
b_A = 0
b_B = 0
b_O = 0
b_AB = 0
blood_type = ['A','B','A','O','AB','AB','O','A','B','O','B','AB']
for i in range(len(blood_type)-1):
    if blood_type[i] == 'A':
        b_A = b_A + 1
    elif blood_type[i] == 'B':
        b_B = b_B + 1
    elif blood_type[i] == 'O':
        b_O = b_O + 1
    else:
        b_AB = b_AB + 1

print('혈액형 A의 학생 수 :',b_A)
print('혈액형 B의 학생 수 :',b_B)
print('혈액형 O의 학생 수 :',b_O)
print('혈액형 AB의 학생 수 :',b_AB)

혈액형 A의 학생 수 : 3
혈액형 B의 학생 수 : 3
혈액형 O의 학생 수 : 3
혈액형 AB의 학생 수 : 2

In [64]:
# Q5. 리스트 내포
# 다음은 리스트 중 홀수에만 2를 곱하여 저장하는 코드이다
numbers = [1,2,3,4,5]
result = []
for n in numbers:
    if n % 2 == 1:
        result.append(n*2)


# 위 코드를 리스트 내포를 활용하여 표현하라
result = [n*2 for n in numbers if n%2 == 1]
print(result)

[2, 6, 10]

[목차로 돌아가기](#목차)

## Function Example

In [65]:
# Q1.
def print_sub(a,b):
    result = a - b
    print(a,'와',b,'의 차는', result, '입니다')
print_sub(10,20)

10 와 20 의 차는 -10 입니다

In [66]:
# Q2.
def print_mult(a,b):
    result = a * b
    print(a,'와',b,'의 곱은', result,'입니다')
print_mult(10,20)

10 와 20 의 곱은 200 입니다

In [67]:
# 가변인자
# Q1.
# 가변 인자를 사용하는 sum_nums()함수를 수정하여 인자들을 튜플 형식으로 출력한 후 모든 값들의 합과 평균을 출력하시오
def sum_nums(*number):
    num_sum = 0
    num_mul = 1
    for i in number:
        num_sum = num_sum + i
        num_mul = num_mul * i
    return num_sum, num_mul

sum_nums(10,30,30)

(70, 9000)

In [68]:
# 가변인자
# Q2. 가변 인자를 사용하는 min_nums() 함수를 구현.이 함수는 정수를 인자로 받을 수 있는데 개수가 가변적이다.
# min_nums(20,40,50,10) >> 최소값은 10

def min_nums(*number):
    num_min = min(number)
    return num_min

min_nums(10,20,1,-1,40,-21,30,-134)

-134

In [69]:
# Q1.
# 홀수 짝수 판별
def is_odd(n):
    if n%2 == 0:
        print(n,'은 짝수 입니다')
    else:
        print(n,'은 홀수 입니다')

is_odd(1234)

1234 은 짝수 입니다

In [70]:
# Q2.
# 평균값 계산
def mean_number(*number):
    a = sum(number) / len(number)
    return a

mean_number(10,50,90)

50.0

In [71]:
# Q3.
# 구구단 출력
# 자연수를 받았을 때, 해당되는 값의 구구단을 출력한다.
def time_number(n):
    for i in range(1,10):
        print('{}*{} = {:d}'.format(n,i,n*i))

time_number(7)

7*1 = 7
7*2 = 14
7*3 = 21
7*4 = 28
7*5 = 35
7*6 = 42
7*7 = 49
7*8 = 56
7*9 = 63

[목차로 돌아가기](#목차)

## 기타 함수 Example

In [72]:
# Q1.
# lambda함수를 활용하여 
# 200 - 100 = 100과 같이 출력하여라
print('200 - 100 = ', (lambda x,y:x-y)(200,100))

200 - 100 =  100

In [73]:
# Q2.
# 정수 요소값을 가진 list = [1,2,3,4,5,6,7,8,9,10]가 있다.
# list에서 짝수 값을 가진 even_list라는 리스트를 lambda함수를 활용하여
# even_list = [2,4,6,8,10]을 만들어보자

n_list = [1,2,3,4,5,6,7,8,9,10]
even_list = []
for x in filter(lambda x:x%2==0,n_list):
    even_list.append(x)
    
print(even_list)


# 또는
 
n_list = [1,2,3,4,5,6,7,8,9,10]
even_list = list(filter(lambda x:x%2==0,n_list))
    
print(even_list)

[2, 4, 6, 8, 10]
[2, 4, 6, 8, 10]

In [74]:
# Q3.
# 2번과 같이, 대신 홀수로
n_list = [1,2,3,4,5,6,7,8,9,10]
odd_list = []
for x in filter(lambda x:x%2==1,n_list):
    odd_list.append(x)
    
print(odd_list)

[1, 3, 5, 7, 9]

In [75]:
# 맵 함수
# Q1.
# ['a','b','c','d']와 같은 소문자가 들어있는 a_list라는 이름의 리스트를
# ['A','B','C','D']와 같이 대문자각 들어있는 upper_a_list라는 리스트로 변환
a_list = ['a','b','c','d']

def to_upper(n):
    nlist=[]
    for i in n:
        nlist.append(i.upper())
    return nlist
print(to_upper(a_list))

# 또는

upper_a_list = list(map(lambda x:x.upper(),a_list))
print(upper_a_list)

['A', 'B', 'C', 'D']
['A', 'B', 'C', 'D']

In [76]:
# 맵 함수
# Q2.
# n_list = [10,20,30] 를 map()함수에 넣은 후 결과는 다음과 같다
# 입력 값의 두 배 : [20,40,60]
# 입력 값의 세 배 : [30,60,90]

# 함수활용
n_list = [10,20,30]

def twice(n):
    nlist=[]
    for i in n:
        nlist.append(i*2)
    return nlist

def triple(n):
    nlist=[]
    for i in n:
        nlist.append(i*3)
    return nlist

print(twice(n_list))
print(triple(n_list))



# map 함수 활용
twice_map = list(map(lambda x:x*2,n_list))
print(twice_map)

triple_map = list(map(lambda x:x*3,n_list))
print(triple_map)

[20, 40, 60]
[30, 60, 90]
[20, 40, 60]
[30, 60, 90]

In [77]:
# Reduce 함수
# Q1.
# 1에서 100까지의 합
from functools import reduce

q1 = range(1,101)
n = reduce(lambda x,y:x+y,q1)
print(n)

5050

In [78]:
# Q2. 10 팩토리얼 계산
q2 = range(1,11)
n = reduce(lambda x,y:x*y,q2)
print(n)

3628800

In [79]:
# 리스트 축약
# Q1.
# 1에서 10사이 정수의 세제곱 계산
cubic = [x ** 3 for x in range(1,11)]
print(cubic)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [80]:
# 리스트 측약
# Q2.
# a = ['welcome', 'to', 'the', 'python', 'world'] 에서 a로부터 첫 알파벳을 추출한 first_a라는 리스트 생성

a = ['welcome', 'to', 'the', 'python', 'world']

first_a = [x[0] for x in a]
first_a

['w', 't', 't', 'p', 'w']

In [81]:
# 리스트 축약과 if 조건식
# Q1.
# 1에서 10사이 정수의 세제곱 값 중에서 500이하만 출력
cubic = [1,8,27,64,125,216,343]

cubic = [x**3 for x in range(1,11) if x**3 <= 500]
cubic

[1, 8, 27, 64, 125, 216, 343]

In [82]:
# 리스트 축약과 if 조건식
# Q2.

# st = 'Hello 1234 Python' 문자열에서 1234를 추출하여 다음과 같이 생성하자
# ['1','2','3','4']
# isdigit()을 사용
st = 'Hello 1234 Python'
st1 = [x for x in st.split()[1] if st.isdigit() == False]
st1

['1', '2', '3', '4']

In [83]:
# 반복자 객체 만들기
# Q1.
# 짝수를 순차적으로 반환하는 __next__() 메소드를 가진 EvenCounter라는 이름의 클래스를
# 정의하고 my_even 객체를 생성하라
# 출력결과
# >> 0 2 4 6 8

class EvenCounter:
    def __init__(self, n=0):
        self.n=n
    def __iter__(self):
        return self
    def __next__(self):
        t = self.n
        self.n += 2
        return t
    
my_even = EvenCounter()
for x in my_even:
    if x >= 10:
        break
    print(x,end=' ')

0 2 4 6 8

In [84]:
# Q2.
# 1번 문제를 통해 생성한 my_even 객체를 이용하여 for 문에서 20이하의 짝수를 출력

class EvenCounter:
    def __init__(self, n=0):
        self.n=n
    def __iter__(self):
        return self
    def __next__(self):
        if self.n <= 20:
            t = self.n
            self.n += 2
            return t
        raise StopIteration
    
my_even = EvenCounter()
for x in my_even:
    print(x,end=' ')

0 2 4 6 8 10 12 14 16 18 20

[목차로 돌아가기](#목차)

## 입출력 Example

In [85]:
# format 메소드
# 다음 중 출력결과가 다른 것 한 개는?
print('you' 'need' 'python')
print('you'+'need'+'python')
print('you','need','python')  # print()에서 ,는 띄어쓰기랑 같음
print(''.join(['you','need','python']))   # join 중요!!

youneedpython
youneedpython
you need python
youneedpython

In [86]:
# 숫자를 입력받아 총합을 구하라(이때 숫자는 , 로 구분함)
number = eval(input('정수를 입력하시오 :'))
sum(number)

정수를 입력하시오 :12,43,62

117

---

In [87]:
# 파일 읽고 출력하기
# Q1.
f1 = open('test.txt', 'w')
f1.write('Life is too short')
# f1.close()

f2 = open('test.txt', 'r')
print(f2.read())
# f2.close()

In [88]:
# 파일저장
# Q2.
# 사용자의 입력을 파일에 저장하는 프로그램 작성
# 파일에 새로운 내용 추가하기

f3 = open('test.txt', 'a')
data = input('저장할 내용을 입력하세요 : ')
f3.write(data)
f3.close()

저장할 내용을 입력하세요 : 안녕

In [89]:
# Q3.
# test.txt가 있다.
# 파일의 내용중 java라는 문자열을 python으로 저장해보자.
# replace 사용
with open('test.txt', mode='r') as file:
    lst = file.readlines()
    lst_new=[]
    for i in lst:
        i = i.replace('java', 'python')
        lst_new.append(i)
        
with open('test.txt', mode='w') as file:
    for i in lst_new:
        file.write(i)

In [90]:
# 평균값 구하기
# Q4.
# sample.txt
# 70, 60, 55, 75, 95, 95, 80, 80, 85, 100
# sample.txt 파일의 숫자값을 모두 읽어 총합과 평균값을 구한 후 평균값을 result.txt라는 파일에 쓰자

with open('C:/Users/admin/Desktop/빅데이터/2주차 _ 파이썬(전홍배교수)/예제문서파일/test_평균값.txt', mode='r') as file:
    lines = file.readlines()
    sum_test = 0
    for i in lines:
        sum_test=sum_test+int(i)
        
    avg_test = sum_test/len(lines)

with open('test_result.txt', mode='w') as file:
    file.write(str(sum_test))
    file.write('\n')
    file.write(str(avg_test))

In [91]:
# Q5.
# s_list = ['abc','bcd','bcdefg','abba','ccdc','opq']와 같은 문자열을
# 가진 리스트가 존재한다
# 이 리스트에 대하여 다음과 같은 기능을 구현하라
# 1. min함수나 sort를 사용하지 말고, s_list내의 문자열 항목중에서 가장 길이가 짧은 문자열을 출력
# 길이가 가장 짧은 문자열이 여러개 있을 경우 아래 출력과 같이 제일 먼저 나타나는 문자열을 출력

s_list = ['abc','bcd','bcdefg','abba','ccdc','opq']
min_len = len(s_list[0])
min_list = s_list[0]

for s in s_list:
    l = len(s)
    if min_len > l:
        min_len = l
        min_list = s

print(min_list)

abc

[목차로 돌아가기](#목차)

## Module & Package Example

In [92]:
# Q1. 다음코드인 mymod.py 파일 새로 만들기 
def mysum(a,b):
    return a+b

In [93]:
import sys
sys.path.append('C:/doit')
from mymod import mysum
mysum(1,2)

3

[목차로 돌아가기](#목차)

# 쉬어가기 문제

In [94]:
# Q1.
# datetime 모듈을 이용한 현재시간 구하기
import datetime
date = datetime.datetime.now()
print(date)

y,m,d = date.year, date.month, date.day
y,m,d

2023-04-26 10:58:14.738151

(2023, 4, 26)

In [95]:
# Q2.
# 현재시간을 바탕으로 태어난 사람의 주민번호 첫 6자를 결정하여 다음과 같이 표시하라
# 1. 현재 시간은 0000-00-00일 입니다
# 2. 지금 태어난 아이의 주민등록번호 앞자리는 : 000000

import datetime
date = datetime.datetime.now()
print(date)

y,m,d = date.year, date.month, date.day
print(f'현재 시간은 {y}-{m:02d}-{d}일 입니다')
print(f'지금 태어난 아이의 주민등록번호 앞자리는 : {y-2000}{m:02d}{d}' )

2023-04-26 10:58:14.754560
현재 시간은 2023-04-26일 입니다
지금 태어난 아이의 주민등록번호 앞자리는 : 230426

In [96]:
# Q3.
# 임의의 문장들을 입력하면, 이 문장들에 포함된 단어를 모두 추출하여 사전 배열 순서로
# 정렬하여 출력하는 프로그램을 작성하여 다음과 같이 쉼표와 마침표 등과 같은 ㅜ두점들은
# 모두 제거하여 단어들을 추출하도록 작성하라.


# 실행 결과
'''
여러 단어로 이루어진 글을 입력하세요 : 임의의 문장을 입력 : 출력, 이것은 테스트 문장.
가:가나:나:나나:다람쥐 : 마린보이.


['가','가나','나','나나','다람쥐','마린보이','문장','문장을','이것은','임의의','입력','출력','테스트']
'''



string_q3 = input('여러 단어로 이루어진 글을 입력하세요 : ')

# 입력문장은 >>>> 임의의 문장을 입력:출력, 이것은 테스트 문장. 가:가나:나:나나:다람쥐 : 마린보이.
string_q3 = string_q3.replace(':',' ')
string_q3 = string_q3.replace('.',' ')
string_q3 = string_q3.replace(',',' ')
string_q3 = string_q3.split()
string_sort = string_q3.sort()
print(string_q3)

여러 단어로 이루어진 글을 입력하세요 : 임의의 문장을 입력:출력, 이것은 테스트 문장. 가:가나:나:나나:다람쥐 : 마린보이.
['가', '가나', '나', '나나', '다람쥐', '마린보이', '문장', '문장을', '이것은', '임의의', '입력', '출력', '테스트']

In [97]:
# 답안 예시
def removePuncuations(string) :
    punctuations = ['.', ',', '!', '?', ':', ';']
    for mark in punctuations:
        string = string.replace(mark, ' ')
    return string

inputStr = input('여러 단어로 이루어진 글을 입력하세요: ')
# 입력문장 >>>>>> 임의의 문장을 입력:출력, 이것은 테스트 문장. 가:가나:나:나나:다람쥐 : 마린보이.
inputStr = removePuncuations(inputStr).lower()
words = inputStr.split()
words.sort()
print('정렬 결과 :')
print(words)

여러 단어로 이루어진 글을 입력하세요: 임의의 문장을 입력:출력, 이것은 테스트 문장. 가:가나:나:나나:다람쥐 : 마린보이.
정렬 결과 :
['가', '가나', '나', '나나', '다람쥐', '마린보이', '문장', '문장을', '이것은', '임의의', '입력', '출력', '테스트']

In [98]:
# Q4.
# 이름을 나타내는 문자열 네 개가 다음과 같이 네 개의 변수에 저장되어 있다.
# 문자열들에 있는 공백과 
# 변경된 이후에 각 문자열에서 문자 'N'이 몇 번 나타나는지 표시하라.

# HINT
# replace 활용

# 실행결과
'''
Kang Young Min(은)는 KANGYOUNGMIN(으)로 수정됨
Kang Young-Min(은)는 KANGYOUNGMIN(으)로 수정됨
Park Dong Min(은)는 PARKDONGMIN(으)로 수정됨
Park Dong-Yun(은)는 PARKDONGYUN(으)로 수정됨
KANGYOUNGMIN : 3 개의 N이 나타남
KANGYOUNGMIN : 3 개의 N이 나타남
PARKDONGMIN : 2 개의 N이 나타남
PARKDONGYUN : 2 개의 N이 나타남
'''

'\nKang Young Min(은)는 KANGYOUNGMIN(으)로 수정됨\nKang Young-Min(은)는 KANGYOUNGMIN(으)로 수정됨\nPark Dong Min(은)는 PARKDONGMIN(으)로 수정됨\nPark Dong-Yun(은)는 PARKDONGYUN(으)로 수정됨\nKANGYOUNGMIN : 3 개의 N이 나타남\nKANGYOUNGMIN : 3 개의 N이 나타남\nPARKDONGMIN : 2 개의 N이 나타남\nPARKDONGYUN : 2 개의 N이 나타남\n'

In [99]:
def removePuncuations(string) :
    punctuations = [' ', '-']
    for mark in punctuations:
        string = string.replace(mark, '')
    return string

s1 = 'Kang Young Min'
s2 = ' Kang Young-Min'
s3 = 'Park Dong Min'
s4 = ' Park Dong-Yun'
name = [s1,s2,s3,s4]
name_new = []
for i in name:
    name_new.append(removePuncuations(i).upper())
name_new

for i in range(4):
    print(f'{name[i]}(은)는 {name_new[i]}(으)로 수정됨')

N_count = []
for i in range(4):
    N_count.append(name_new[i].count('N'))
    print(f'{name_new[i]} : {N_count[i]}개의 N이 나타남')

Kang Young Min(은)는 KANGYOUNGMIN(으)로 수정됨
 Kang Young-Min(은)는 KANGYOUNGMIN(으)로 수정됨
Park Dong Min(은)는 PARKDONGMIN(으)로 수정됨
 Park Dong-Yun(은)는 PARKDONGYUN(으)로 수정됨
KANGYOUNGMIN : 3개의 N이 나타남
KANGYOUNGMIN : 3개의 N이 나타남
PARKDONGMIN : 2개의 N이 나타남
PARKDONGYUN : 2개의 N이 나타남

In [100]:
# Q5.
# 주민등록번호의 앞 6자리 생년월일은 두 자리의 년도, 두 자리의 월, 두자리의 날짜로 표현된다
# 예를 들어 921030은 1992년 10월 30일을 의미한다.
# 이렇게 주민번호 형식의 생년월일이 입력될 때
# '1992년 10월 30일'과 같은 형태로 날짜를 출력하는 코드를 작성하라
# 입력되는 날짜의 연도는 1950년 이후부터 입력된다.
# 즉, 511010은 1951년 10월 10일이지만, 491010은 2049년 10월 10일로 판단해야한다.

# 결과
# >> 
# 주민등록번호 첫 6숫자 형식 입력: 570312
# 1957년 3월 12일

pb = input('주민등록번호 첫 6숫자 형식 입력 : ')
pb_y = pb[:2]
pb_m = pb[2:4]
pb_d = pb[4:6]

if int(pb_y) >= 50:
    year = 1900 + int(pb_y)
else:
    year = 2000 + int(pb_y)

print(f'{year}년 {pb_m}월 {pb_d}일')

주민등록번호 첫 6숫자 형식 입력 : 980623
1998년 06월 23일

In [101]:
# Q6.
# 다음과 같은 내용의 값을 가진 number1to10txt.파일을 읽어들인 다음,
# 사용자로부터 양의 정수 n을 입력으로 받아서 최초의 n번째 줄까지
# 화면에 출력하는 프로그램 작성하시오
'''
1
2
3
4
5
6
7
8
9
10
'''
with open('C:/Users/admin/Desktop/빅데이터/2주차 _ 파이썬(전홍배교수)/예제문서파일/number1to10.txt', mode='r') as file:
    num = int(input('1부터 10까지의 정수를 입력하시오 : '))
    while True:
        if num > 10:
            num = int(input('1부터 10까지의 정수를 입력하시오 : '))
        else:
            break
    lines = file.read(num*2)
    print(lines)

1부터 10까지의 정수를 입력하시오 : 9
1
2
3
4
5
6
7
8
9

In [102]:
# 답안 예시
f = open('C:/Users/admin/Desktop/빅데이터/2주차 _ 파이썬(전홍배교수)/예제문서파일/number1to10.txt', 'r')
n = int(input('몇 번째 라인까지 출력하시겠습니까?'))
for i in range(1,n+1):
    s = f.readline()
    print(s, end='')
f.close()

몇 번째 라인까지 출력하시겠습니까?3
1
2
3

In [103]:
# Q7.
# 다음과 같은 기능을 수행하는 프로그램 작성
# random 모듈의 randint()를 사용하여 1에서 1000까지의 임의의 정수를 10개 생성하여
# ranom_numbers.txt 라는 이름의 파일로 저장하여라.

# 결과
# random_numbers.txt 파일
# 32 492 392 593 592 492 12 49 39 50

In [104]:
import random

with open('random_numbers.txt', mode='w') as file:
    for n in range(10):
        n = random.randint(1,1001)
        file.write(str(n)+' ')
        print(str(n), end = ' ')

708 932 870 334 320 595 749 745 512 955

In [105]:
# Q8.
# 랜덤 숫자 맞추기 게임프로그램을 작성하라. 먼저 랜덤하게 1~20까지의 생성된 숫자 x와

# 결과
# 1~20까지의 숫자를 입력하세요 : 3
# 3보다 큽니다!
# 1~20까지의 숫자를 입력하세요 : 9
# 9 보다 작습니다!
# 1~20까지의 숫자를 입력하세요 : 6
# 6 보다 작습니다!
# 1~20까지의 숫자를 입력하세요 : 5
# 5 보다 작습니다!
# 1~20까지의 숫자를 입력하세요 : 4
# 정답입니다!
# 5 번만에 맞추셨네요. 잘했어요^^

In [106]:
import time     # 시간재기
start = time.time()



import random
answer = random.randint(1,20)
print(answer)

i = 1

while True:
    num = int(input('1~20까지의 숫자를 입력하세요 : '))
    i += 1
    if num > answer:
        print(f'{num}보다 작습니다!')    
    elif num < answer:
        print(f'{num}보다 큽니다!')
    else:
        print('정답입니다!')
        print(f'{i} 번만에 맞추셨네요. 잘했어요!')
        break
    
    
end = time.time()

print('걸린시간' , end-start,'초')

12
1~20까지의 숫자를 입력하세요 : 1
1보다 큽니다!
1~20까지의 숫자를 입력하세요 : 5
5보다 큽니다!
1~20까지의 숫자를 입력하세요 : 15
15보다 작습니다!
1~20까지의 숫자를 입력하세요 : 13
13보다 작습니다!
1~20까지의 숫자를 입력하세요 : 12
정답입니다!
6 번만에 맞추셨네요. 잘했어요!
걸린시간 6.459460496902466 초

[목차로 돌아가기](#목차)