# Python 기초

### 목차

[1. 문자열 ](#문자열)\
[2. List ](#List)\
[3. Tuple ](#Tuple)\
[4. Dictionary ](#Dictionary)\
[5. Set ](#Set)\
[6. 조건문 ](#조건문)\
[7-1. 반복문 While ](#반복문-While)\
[7-2. 반복문 For ](#반복문-For)\
[8-1. 함수 ](#Function)\
[8-2. 기타 함수 ](#기타-함수)\
[9. 입출력 ](#입출력)\
[10. 모듈과 패키지](#Module-&-Package)

# 문자열

In [1]:
print('나의 이름은 :','홍길동')
print('나의 나이는 :', 27)
print('나의 키는', 179, 'cm입니다')
print('10+20 =', 10+20)
print('10*20 =', 10*20)

나의 이름은 : 홍길동
나의 나이는 : 27
나의 키는 179 cm입니다
10+20 = 30
10*20 = 200

In [2]:
num = 85
type(num)

int

In [3]:
pi = 3.14159
type(pi)

float

In [4]:
message = 'good morning'
type(message)

str

In [5]:
a = 123
print(a)
print(type(a))

123
<class 'int'>

In [6]:
a = -345
b = 1.23
c = a/b
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'float'>

In [7]:
a=(4)
print(type(a))

b=(1,2)
print(type(b))

a=(3,)
print(type(a))

<class 'int'>
<class 'tuple'>
<class 'tuple'>

In [8]:
print(5%2)
print(2**(1/2))
print(3**(1/2))

1
1.4142135623730951
1.7320508075688772

In [9]:
type(True)

bool

In [10]:
a,b = 100,200
print(a == b)
print(a!=b)
print(a>b)
print(a<b)
print(a > b)

False
True
False
True
False

In [11]:
a,b,c,d, = 10,20,30,40
print((a>b) and (c<d))
print((a>b) or (c<d))
print((a<b) and(c<d))
print((a<b) and False)
print((a>b) or True)

False
True
True
False
True

In [12]:
print(bool(-1))
print(bool(0))
print(bool(''))
print(bool('Hello'))
print(bool([]))
print(bool([10,20]))
print(bool(1,))

True
False
False
True
False
True
True

In [13]:
a = {'국어' : 80, '영어' : 75, '수학' : 55}

print(sum(a.values())/3)  # 1
print((a['국어'] + a['수학'] + a['영어']) / 3) # 2
print((80 + 75 + 55) /3)  # 3

70.0
70.0
70.0

In [14]:
txt1 = '친구가 \'햇님이 좋아!\' 라고 말했다'
txt1

"친구가 '햇님이 좋아!' 라고 말했다"

In [15]:
print('banana\napple\norange')
print('banana\tapple\torange')
print('banana\bapple\borange')

banana
apple
orange
banana	apple	orange
bananaappleorange

In [16]:
head = 'python'
tail = ' is fun!'
head + tail

'python is fun!'

In [17]:
print('=' * 50)
print('my program')
print('=' * 50)

==================================================
my program
==================================================

In [18]:
a = 'life is too short, you need python'
print(a[0])
print(a[12])
print(a[-1])
print(a[8:11])
print(a[1:11:2]) # 1부터 10까지 2씩 증가

print(len(a))
print(a[0])
print(a[33])
print(a[-1])
print(a[0] + a[1] + a[2] + a[3])
print(a[0:4])
print(a[:4])
print(a[4:0])
print(a[19:34])
print(a[:])

l
s
n
too
iei o
34
l
n
n
life
life
life

you need python
life is too short, you need python

In [19]:
a = '20010331Rainy'
year = a[:4]
day = a[4:8]
weather = a[8:]
print(year)
print(day)
print(weather)

2001
0331
Rainy

In [20]:
greeting = 'hello, world'
greeting[0] = 'J' # >> 에러

TypeError: 'str' object does not support item assignment

In [21]:
a = ['사가','바나나']
a[0] = '사과'
a

['사과', '바나나']

In [22]:
a = 'pithon'
a = a[:1] + 'y' + a[2:]
a

'python'

In [23]:
print('i eat %d apples' % 3)
print('i eat %s apples.' % 'five')
number = 3;print('i eat %d apples' % number)
number = 10; day = 'three'; print('i ate %d apples. so i was sick for %s days.' %(number,day))
print('rate is %s' % 3.234)
print('error is %d%%' % 98)

i eat 3 apples
i eat five apples.
i eat 3 apples
i ate 10 apples. so i was sick for three days.
rate is 3.234
error is 98%

In [24]:
a = 'apples'
print(a[:-2])
print(a[-2:])
print(a[:4])

appl
es
appl

In [25]:
print('%10s' % 'hi')
print('%-10sjane' % 'hi')

        hi
hi        jane

In [26]:
print('%0.4f' % 3.412123)
print('%.4f' % 3.12412432)

3.4121
3.1241

In [27]:
print('i eat {} apples'.format(3))
print('i eat {} apples'.format('five'))

i eat 3 apples
i eat five apples

In [28]:
number = 10
day = 'three'
print('i ate {0} apples, so i was sick for{1} dats'.format(number,day))
print('i ate {number} apples. so i was sick for {day} days'.format(number = 10, day=3))

i ate 10 apples, so i was sick forthree dats
i ate 10 apples. so i was sick for 3 days

In [29]:
x = 2.123234
y = 3.42132412
print('{0:0.4f}'.format(x,y))
print('{1:10.4f}'.format(x,y))
print(f'{x:0.4f}')
print(f'{y:10.4f}')

2.1232
    3.4213
2.1232
    3.4213

In [30]:
name = '홍길동';age = 30; print(f'나의 이름은 {name} 입니다. 나이는 {age}살 입니다.')
print(f'나는 내년이면 {age +1 }살이 된다')

나의 이름은 홍길동 입니다. 나이는 30살 입니다.
나는 내년이면 31살이 된다

In [31]:
a = 'asd'
print(a.join('abcd'))
print(a.join('a b c d'))

aasdbasdcasdd
aasd asdbasd asdcasd asdd

In [32]:
a='hello'
a.upper()

'HELLO'

In [33]:
a='      hi   '
a.lstrip()

'hi   '

In [34]:
a.rstrip()

'      hi'

In [35]:
a.strip()

'hi'

In [36]:
a = 'life is good'
a.replace('life', 'music')

'music is good'

In [37]:
s1 = 'long live the king!'
print(s1.title())
print(s1.capitalize())

Long Live The King!
Long live the king!

In [38]:
'X:Y:Z'.split(':')

['X', 'Y', 'Z']

In [39]:
a = 'life is too short'
a.split()

['life', 'is', 'too', 'short']

In [40]:
a = 'a:b:c:d'
a.split(":")

['a', 'b', 'c', 'd']

[목차로 돌아가기](#목차)

# List

In [41]:
list(range(1,11,2))

[1, 3, 5, 7, 9]

In [42]:
a = [1,2,3,['a','b','c']]
print(a[0])
print(a[2])
print(a[-1])
print(a[0]+a[1])
print(a[3])
print(a[3][0])

1
3
['a', 'b', 'c']
3
['a', 'b', 'c']
a

In [43]:
a = [1,2,3,4,5]
print(a[0:2])
print(a[:2])
print(a[2:])

[1, 2]
[1, 2]
[3, 4, 5]

In [44]:
a=[1,2,3,['a','b','c'],4,5]
print(a[2:5])
print(a[3][:2])

[3, ['a', 'b', 'c'], 4]
['a', 'b']

In [45]:
a = [10,20,30,40]
print(a[0]) # 인덱스만 주면 int형태
print(a[0:1]) # 슬라이스 주면 list형태

10
[10]

In [46]:
a = list(range(10))
print(a)
print(a[::-1]) #역순
print(a[1::-1])
print(a[1::5])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
[1, 0]
[1, 6]

In [47]:
list1=[1,2,3,4]
list2=[2,2,3,4]
print(list1>list2)
print(list1<list2)

# [index]의 앞쪽 숫자가 더 클수록 크다.
# 간단히 생각!

False
True

In [48]:
a = [1,2,3]
a.append(4)
a

[1, 2, 3, 4]

In [49]:
a.append([5,6])
a

[1, 2, 3, 4, [5, 6]]

In [50]:
# a의 메모리 주소(내부적으로)가 달라지지 않음
a = [1,2,3]
a.extend([4,5])
a

[1, 2, 3, 4, 5]

In [51]:
# a 메모리 주소가 달라짐
# a에 다시 할당을 했기 때문에
a = [1,2,3]
a=a+[4,5]
a

[1, 2, 3, 4, 5]

In [52]:
# pop() : 맨 마지막 요소를 보여주고 삭제함
# pop(x): x번째 요소를 보여주고 삭제함
a = [1,2,3]
print(a.pop())
print(a.pop(1))
a

3
2

[1]

In [53]:
list1 = ['a','b','c','d']
list1.remove(list1[-1])
list1

['a', 'b', 'c']

In [54]:
list1 = [20,10,40,50,30]
list1.sort()
list1

[10, 20, 30, 40, 50]

In [55]:
list1.sort(reverse=True)
list1

[50, 40, 30, 20, 10]

[목차로 돌아가기](#목차)

# Tuple

In [56]:
a = ((1,2),(3,4),(5,6))
a[2]

(5, 6)

In [57]:
p = 1,3,2,5,7
type(p)

tuple

In [58]:
tuple([1,7,5,3,9])

(1, 7, 5, 3, 9)

In [59]:
tuple('abcde')

('a', 'b', 'c', 'd', 'e')

In [60]:
print('a' in ('a','b','c'))
print(5 in ('a','b','c'))
print(5 not in ('a','b','c'))

True
False
True

In [61]:
t_fruits = ('apple', 'orange','water melon')
print('변경 전:', t_fruits)
f_list = list(t_fruits) # 1 튜플을 리스트로 변환
f_list[1] = 'kiwi' # 2 리스트의 두 번째 항목 값을 kiwi 로 변경
t_fruits = tuple(f_list) # 3 리스트를 튜플로 다시 변환함
print('변경 후:', t_fruits)

변경 전: ('apple', 'orange', 'water melon')
변경 후: ('apple', 'kiwi', 'water melon')

[목차로 돌아가기](#목차)

# Dictionary

In [62]:
dic = {'name' : 'pey', 'phone' : '01199998888', 'birth' : '1117'}
dic

{'name': 'pey', 'phone': '01199998888', 'birth': '1117'}

In [63]:
a = {'a':[1,2,3]}
a

{'a': [1, 2, 3]}

In [64]:
person = {'이름' : '홍길동', '나이':26, '몸무게' :82}
print(person['이름'])
print(person['나이'])
print(person['몸무게'])

홍길동
26
82

In [65]:
# 변수 및 값 추가
person['키'] = 180
person[1998] = '생일'
person

{'이름': '홍길동', '나이': 26, '몸무게': 82, '키': 180, 1998: '생일'}

In [66]:
a = dict(n=1)
a

{'n': 1}

In [67]:
a = dict([('n',1),('is',1),('short',2)])
a

{'n': 1, 'is': 1, 'short': 2}

In [68]:
del person['나이']
person

{'이름': '홍길동', '몸무게': 82, '키': 180, 1998: '생일'}

In [69]:
person.keys()

dict_keys(['이름', '몸무게', '키', 1998])

In [70]:
for k in person.keys():
    print(k)

이름
몸무게
키
1998

In [71]:
print(a.items())
print(list(a.items()))

dict_items([('n', 1), ('is', 1), ('short', 2)])
[('n', 1), ('is', 1), ('short', 2)]

In [72]:
a.clear()
a

{}

In [73]:
# key로 value얻기(get)
a = {'name':'pey', 'phone':'01029123294','birth':'1118'}
a.get('name','hi')

'pey'

In [74]:
# 해당 key가 딕셔너리 안에 있는지 조사하기(in)
print('name' in a)
print('email' in a)

True
False

In [75]:
# 딕셔너리 추가
# 1
a = {'one':'하나','two':'둘','three':'셋'}
a["four"] = '넷'
print(a['four'])

넷

In [76]:
# 2
a.update({'five':'다섯','six':'여섯'})
print(a)

{'one': '하나', 'two': '둘', 'three': '셋', 'four': '넷', 'five': '다섯', 'six': '여섯'}

In [77]:
# 딕셔너리 수정
a['three'] = '둘'
a.update(two='셋')
print(a)

{'one': '하나', 'two': '셋', 'three': '둘', 'four': '넷', 'five': '다섯', 'six': '여섯'}

In [78]:
# 딕셔너리 병합
a = {'one' : '하나', 'two' : '둘', 'three' : '셋'}
b = {'five' : '다섯', 'six' : '여섯'}

a.update(b)
print(a)
print(b)

{'one': '하나', 'two': '둘', 'three': '셋', 'five': '다섯', 'six': '여섯'}
{'five': '다섯', 'six': '여섯'}

In [79]:
# 딕셔너리 삭제

a = {'one' : '하나', 'two' : '둘', 'three' : '셋'}
del a['three']
# a.pop('three')
# a.popitem()
print(a)

a.clear()
print(a)

{'one': '하나', 'two': '둘'}
{}

In [80]:
# 딕셔너리 조사

a = {'one' : '하나', 'two' : '둘', 'three' : '셋'}
print(a.items())
print(a.keys())
print(a.values())
print('one' in a)
print('four' not in a)

dict_items([('one', '하나'), ('two', '둘'), ('three', '셋')])
dict_keys(['one', 'two', 'three'])
dict_values(['하나', '둘', '셋'])
True
True

In [81]:
lst = [11, 22, 33, 44, 55]
print('pop(0) 이전:', lst)
print('pop(0) 이전 lst[1] =' ,lst[1])
lst.pop(0) # 인덱스 0 을 이용하여 리스트의 첫 항목을 삭제한다
print('pop(0) 이후:', lst)
print('pop(0) 이후 lst[1] =', lst[1])  # lst[1] 이 참조하는 값이 바뀐다

pop(0) 이전: [11, 22, 33, 44, 55]
pop(0) 이전 lst[1] = 22
pop(0) 이후: [22, 33, 44, 55]
pop(0) 이후 lst[1] = 33

[목차로 돌아가기](#목차)

# Set

In [82]:
s = {100,100,200,200,300,400}
s

{100, 200, 300, 400}

In [83]:
s.add(500) # 값 추가
s
# 여러개 추가 : update([])

{100, 200, 300, 400, 500}

In [84]:
s.discard(100) # 값 삭제
s

{200, 300, 400, 500}

In [85]:
s = {'a','b','c'}
s

{'a', 'b', 'c'}

In [86]:
# id : 변수 메모리 주소
# 리스트는 원본과 사본이 동기화 된다.

In [87]:
# Deepcopy
# 리스트인 a를 b로 복사할 때
# b = a로 복사하는 경우 주소가 복사되는 것이기 때문에
# a 값 중 하나가 변경되어도 b가 같이 복사됨(동기화됨)

# 하지만

# slice    또는   copy함수를 통해 
# b = a[:] 또는 b = copy(a)를 할 경우
# 주소 복사가 아닌 값 복사만 된다.

# 예외적으로 slice인 경우 [리스트[리스트]]인 목록형 데이터인 경우 값이 동기화가 된다. >> shallow copy

[목차로 돌아가기](#목차)

# 조건문

__구조__\
if 조건식 :\
(들여쓰기)조건이 참일 때 수행되는 블록

In [88]:
# example1
age = 15
if age < 20:
    print('청소년 할인')

청소년 할인

In [89]:
# example2
for i in range(1,11):
    if i%2==0:
        print('hi')
    else:
        print('bye')

bye
hi
bye
hi
bye
hi
bye
hi
bye
hi

In [90]:
#######
####### 임의의 숫자 입력값 받아오기
#######
print(type(input()))
# >> string
# 따라서 int, float와 같은 형태를 지정해줘야 함
print(type(float(input())))
print(type(int(input())))

381
<class 'str'>
381
<class 'float'>
381
<class 'int'>

In [91]:
# if - elif - else 구문
# 다중 조건

In [92]:
# pass 키워드
# 조건문에서 아무일도 일어나지 않게 하려면
# example
pocket = ['paper', 'money', 'cellphone']
if 'money' in pocket:
    pass # pass를 안쓰게 되면 오류가 남
else:
    print('카드를 꺼내라')

In [93]:
# 조건부 간편 표현식
# message = 'success' if score >= 60 else 'failure'
# 조건이 참인 경우 if 조건문 else 조건문이 거짓인 경우

[목차로 돌아가기](#목차)

# 반복문 While

In [94]:
# 형식
# while 조건식:
# (들여쓰기) 실행할 코드 블록

# example1
i = 0
while i < 5:
    print('welcome')
    i += 1

welcome
welcome
welcome
welcome
welcome

In [95]:
# example2
treehit = 0
while treehit < 10:
    treehit += 1
    print('나무를 %d번 찍었습니다.' %treehit)
    if treehit == 10:
        print('나무 넘어갑니다.')

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어갑니다.

In [96]:
# example3
prompt = '''
1. Add
2. Del
3. List
4. Quit

Enter number: '''
number = 0
while number != 4:
    print(prompt)
    number = int(input())

1. Add
2. Del
3. List
4. Quit

Enter number:
1

1. Add
2. Del
3. List
4. Quit

Enter number:
2

1. Add
2. Del
3. List
4. Quit

Enter number:
3

1. Add
2. Del
3. List
4. Quit

Enter number:
4

In [97]:
coffee = 3
while True:
    money = int(input('돈을 넣어주세요 :'))
    if money == 300:
        print('커피를 줍니다')
        coffee -= 1
        money = money - 300
        print('남은 돈은 %d원 입니다' % money)
        print('남은 커피의 양은 %d개 입니다' %coffee)
    
    elif money > 300:
        print('거스름돈 %d 를 주고 커피를 줍니다' %(money-300))
        coffee -= 1
        money = money - 300
        print('남은 돈은 %d원 입니다' % money)
        print('남은 커피의 양은 %d개 입니다' %coffee)
        
    else:
        print('돈을 다시 돌려주고 커피를 주지 않습니다')
        print('남은 커피의 양은 %d개 입니다' %coffee)
        break
    
    if not coffee:
        print('커피가 다 떨어졌습니다. 판매를 중지합니다')
        break

돈을 넣어주세요 :900
거스름돈 600 를 주고 커피를 줍니다
남은 돈은 600원 입니다
남은 커피의 양은 2개 입니다
돈을 넣어주세요 :600
거스름돈 300 를 주고 커피를 줍니다
남은 돈은 300원 입니다
남은 커피의 양은 1개 입니다
돈을 넣어주세요 :300
커피를 줍니다
남은 돈은 0원 입니다
남은 커피의 양은 0개 입니다
커피가 다 떨어졌습니다. 판매를 중지합니다

[목차로 돌아가기](#목차)

# 반복문 For

In [98]:
# 형식
# for 변수 in 리스트(또는 튜플, 문자열):
#(들여쓰기) 수행할 문장1
#(들여쓰기) 수행할 문장2
#        .
#        .
#        .

# example1
numbers = [11,22,33,44,55,66]
for n in numbers:
    print(n, end= ' ')
print()

# example2
f_numbers = [1.1, 2.5, 3.7, 5.6, 9.2, 11.3, 6.8]
for f in f_numbers:
    print(f, end = ' ')

11 22 33 44 55 66
1.1 2.5 3.7 5.6 9.2 11.3 6.8

In [99]:
# 이중 For 문
# example
for i in range(2,10):
    for j in range(1,10):
        print('{}*{} = {:2d}'.format(i,j,i*j), end = ' ')
    print()

2*1 =  2 2*2 =  4 2*3 =  6 2*4 =  8 2*5 = 10 2*6 = 12 2*7 = 14 2*8 = 16 2*9 = 18
3*1 =  3 3*2 =  6 3*3 =  9 3*4 = 12 3*5 = 15 3*6 = 18 3*7 = 21 3*8 = 24 3*9 = 27
4*1 =  4 4*2 =  8 4*3 = 12 4*4 = 16 4*5 = 20 4*6 = 24 4*7 = 28 4*8 = 32 4*9 = 36
5*1 =  5 5*2 = 10 5*3 = 15 5*4 = 20 5*5 = 25 5*6 = 30 5*7 = 35 5*8 = 40 5*9 = 45
6*1 =  6 6*2 = 12 6*3 = 18 6*4 = 24 6*5 = 30 6*6 = 36 6*7 = 42 6*8 = 48 6*9 = 54
7*1 =  7 7*2 = 14 7*3 = 21 7*4 = 28 7*5 = 35 7*6 = 42 7*7 = 49 7*8 = 56 7*9 = 63
8*1 =  8 8*2 = 16 8*3 = 24 8*4 = 32 8*5 = 40 8*6 = 48 8*7 = 56 8*8 = 64 8*9 = 72
9*1 =  9 9*2 = 18 9*3 = 27 9*4 = 36 9*5 = 45 9*6 = 54 9*7 = 63 9*8 = 72 9*9 = 81

In [100]:
# range()

a = range(10)
print(a)
print(list(a))
print(tuple(a))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [101]:
# example1
for i in range(5):
    print('welcome')

welcome
welcome
welcome
welcome
welcome

In [102]:
# example2
test_list = ['one','two','three']
for i in test_list:
    print(i)

one
two
three

In [103]:
# example3
a = [(1,2),(3,4),(5,6)]
for (first,last) in a:
    print(first + last)

3
7
11

In [104]:
# example4
marks = [92,25,67,45,80]
number = 0
for mark in marks:
    number = number + 1
    if mark >= 60:
        print("%d번 학생은 합격입니다" %number)
    else:
        print('%d번 학생은 불합격입니다.' %number)

1번 학생은 합격입니다
2번 학생은 불합격입니다.
3번 학생은 합격입니다
4번 학생은 불합격입니다.
5번 학생은 합격입니다

In [105]:
# example5
marks = [90,25,67,45,80]
for number in range(len(marks)):
    if marks[number] < 60: continue
    print('%d번 학생 축하합니다.' % (number + 1))

1번 학생 축하합니다.
3번 학생 축하합니다.
5번 학생 축하합니다.

In [106]:
# for문 enumerate함수
# >> 순서를 같이 출력하고자 할 때
names = ['A','B','C']
for x, name in enumerate(names):
    print(x,name)

0 A
1 B
2 C

In [107]:
# for문 zip함수
# >> 길이가 같은 두개의 리스트를 for 문에서 같이 돌릴 때
names = ['A','B','C']
scores = [70,80,90]

for name, score in zip(names, scores):
    print(name,score)

A 70
B 80
C 90

In [108]:
# for 다중색인 변환
data1 = ['python', '076923', 'yundahee', 'x']
data2 = ['파이썬', '076923', '윤대희']

for i,(datum1,datum2) in enumerate(zip(data1,data2)):
    print(i,datum1,datum2)

0 python 파이썬
1 076923 076923
2 yundahee 윤대희

In [109]:
# 리스트 내포를 활용한 1에서 100까지 짝수인 수
result_1 = [x for x in range(2,101,2)]
print(result_1)
# 또는
result_2 = [x for x in range(1,101) if x%2 ==0]
print(result_2)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [110]:
result = [x*y for x in range(2,10) for y in range(2,10)]
print(result)

[4, 6, 8, 10, 12, 14, 16, 18, 6, 9, 12, 15, 18, 21, 24, 27, 8, 12, 16, 20, 24, 28, 32, 36, 10, 15, 20, 25, 30, 35, 40, 45, 12, 18, 24, 30, 36, 42, 48, 54, 14, 21, 28, 35, 42, 49, 56, 63, 16, 24, 32, 40, 48, 56, 64, 72, 18, 27, 36, 45, 54, 63, 72, 81]

[목차로 돌아가기](#목차)

# Function

In [111]:
## 형식
# def func_name(x1,x2,...):
#(들여쓰기)code1
#(들여쓰기)code2
#       .
#       .
#       .
# return n1[, n2, ...] # >> 생략가능

# example1
def print_star():
    print('***************')

# example2
def get_sum(a,b):
    result = a+b
    return(result)

n1 = get_sum(10,20)
print('10과 20의 합 :', n1)


# examaple3
def get_sum(a,b):
    return a+b
result = get_sum(100,200)
print('두 수의 합 :', result)

10과 20의 합 : 30
두 수의 합 : 300

In [112]:
# function 매개변수
def div(a,b=2):
    return a/b

# b=2가 디폴트값으로 지정안되었을 경우 2
# 다른 값이 지정될 경우 지정 값 사용

print(div(4))
print(div(6,3))


# ! 예외적인 경우 !  
# 디폴트 값 지정을 맨 앞 변수에 지정할 경우 에러남

#### def div(a=2,b):
####    return a/b
#### >> 오류남


# 모든 값에 디폴트를 지정가능
def div(a=2,b=2):
    return a/b
div()

2.0
2.0

1.0

In [113]:
### 키워드인자 전달방법 vs 위치인자 전달방법
def get_root (a, b, c):
    r1 = (- b + (b ** 2 - 4 * a * c) ** 0.5) / (2 * a)
    r2 = (- b - (b ** 2 - 4 * a * c) ** 0.5) / (2 * a)
    return r1, r2

result1, result2 = get_root(a=1, b=2, c = -8) #   >> O
print(result1, result2)
# result1, result2 = get_root(a=1, b=2, -8)   #   >> X   # 위치인자가 무조건 앞에 와야한다.
result1, result2 = get_root(1, 2, c=-8)     #   >> O
print(result1, result2)

2.0 -4.0
2.0 -4.0

In [114]:
# 가변적인 인자전달
# example
def sum_many(*args):
    sum = 0
    for i in args:
        sum = sum + i
    return sum

print(sum_many(1,2,3))
print(sum_many(1,2,3,4,5,6))

6
21

In [115]:
# 가변인자는 입력값이 없어도 에러가 나지 않음
# 말 그대로 가변인자이기 때문에 값이 Null이어도 상관이 없음
def func(*args):
    print(args)
    
func()

()

In [116]:
# 키워드 인자
# 가변인자와 달리 ' ** '와 같은 별 표시가 두개 사용된다.
# 결과는 Dictionary에 저장되고 딕셔너리 변수이다.
def func(**def_name):
    print(def_name)

func(a=1)
func(name='foo', age =3)

{'a': 1}
{'name': 'foo', 'age': 3}

In [117]:
# 가변인자 + 키워드인자 Example1
def func(*data, **method):
    num = sum(data) * method['scale']
    print(num, method['unit'] + '입니다')

func(3,4,5, scale = 10, unit = '개')

120 개입니다

In [118]:
# 가변인자 + 키워드인자 Example2
def func(*data, message, **method):
    print(message)
    
    num = sum(data) * method['scale']
    print(num, method['unit'] + '입니다')

func(3,4,5, message = '계산된 값입니다', scale = 10, unit = '개')

계산된 값입니다
120 개입니다

In [119]:
# 가변인자 + 키워드인자 Example3
# 위치인자는 항상 key(키)를 갖고 있기에 *data 보다 뒤에 올 수 있다.
# 위치인자가 *data보다 뒤에 있을 경우, key를 명시해야 한다
# 위치인자가 *data보다 앞에 있을 경우, key를 명시하지 않아도 된다.
def func(message1, message2, *data, **method):
    print(message1)
    print(message2)
    
    num = sum(data) * method['scale']
    print(num, method['unit'] + '입니다')

func('계산된 값입니다', '값이 10배 커집니다', 3,4,5, scale = 10, unit = '개')

계산된 값입니다
값이 10배 커집니다
120 개입니다

In [120]:
# 전역변수
# 함수 밖에서 선언되거나 전체 영역에서 사용 가능한 변수

# Example1

def print_sum():
    result = a + b
    print('print_sum() 내부 :', a, '과', b, '의 합은', result, '입니다')
    
a = 10  # 전역변수a
b = 20  # 전역변수b
print_sum()
result = a+b
print('print_sum() 내부 :', a, '과', b, '의 합은', result, '입니다')

print_sum() 내부 : 10 과 20 의 합은 30 입니다
print_sum() 내부 : 10 과 20 의 합은 30 입니다

In [121]:
# 전역변수
# Example2
def print_sum():
    a = 100
    b = 200
    result = a + b
    print('print_sum() 내부 :', a, '과', b, '의 합은', result, '입니다')

a = 10
b = 20
print_sum()

print_sum() 내부 : 100 과 200 의 합은 300 입니다

In [122]:
# 전역변수
# Example3

param = 10
strdata = '전역변수'
def func1():
    strdata = '지역변수'
    print(strdata)

def func2(param):
    param = 1
    
def func3():
    global param  ### 'param이라고 하는 변수는 전역변수다' 라고하는 함수 : global
    param = 50

In [123]:
func1()         # 지역변수
print(strdata)  # 전역변수

print(param)    # 10
func2(param)    # print가 없기 때문에 값이 나오지 않음
print(param)    # 10

func3()         # print가 없기 때문에 값이 나오지 않음
print(param)    # 50 >> global로 지정해줬기 때문에 이후의 param값은 50이 된다.

지역변수
전역변수
10
10
50

In [124]:
# 전역함수 - Return 사용

a = 1
def vartest(a):
    a += 1
    return a

a = vartest(a)
print(a)

2

In [125]:
# 전역함수 - Return 사용

a = 1
def vartest():
    global a
    a += 1
    
vartest()
print(a)

2

In [126]:
# 전역변수 
# Example4
def print_sum():
    global a,b
    a = 100
    b = 200
    result = a + b
    print('print_sum() 내부 :', a, '과', b, '의 합은', result, '입니다')

a = 10
b = 20
print_sum()
result = a + b
print('print_sum() 외부 :', a, '과', b, '의 합은', result, '입니다')

print_sum() 내부 : 100 과 200 의 합은 300 입니다
print_sum() 외부 : 100 과 200 의 합은 300 입니다

In [127]:
# 내장함수 sorted

a = [2,4,1,5,23]
a.sort()
print(a)  # 원본이 바뀜

b = [2,4,1,51,3]
sorted(b)
print(b)  # 원본이 바뀌지 않음

[1, 2, 4, 5, 23]
[2, 4, 1, 51, 3]

In [128]:
# 내장함수 eval
# 숫자로된 문자열을 숫자형으로 바꾸어줌
a = '343+391+495'
print(type(a))
b = eval('343+391+495')
print(type(b))

<class 'str'>
<class 'int'>

In [129]:
## 함수 모듈, 라이브러리

# 현재시간
import datetime
datetime.datetime.now()

datetime.datetime(2023, 4, 26, 9, 57, 18, 91962)

In [130]:
# 타임슬립
import time

print('5초간 프로그램을 정지합니다')
time.sleep(5)
print('5초가 지났습니다.')

5초간 프로그램을 정지합니다
5초가 지났습니다.

[목차로 돌아가기](#목차)

# 기타 함수

In [131]:
# 람다 함수
sum = lambda a,b : a+b
sum(3,4)

7

In [132]:
def sum(a,b):
    return a+b

In [133]:
mylist = [lambda a,b:a+b, lambda a,b:a*b]

print(mylist)
print(mylist[0])
print(mylist[0](3,4))
print(mylist[1](3,4))

[<function <lambda> at 0x00000268915ED7E0>, <function <lambda> at 0x00000268915ED750>]
<function <lambda> at 0x00000268915ED7E0>
7
12

In [134]:
f = lambda : 1
print(f())

g = lambda x,y:x+y
print(g(1,2))

print((lambda x:x**x)(3))

1
3
27

In [135]:
# 람다 함수 간단 표현법
print('100과 200의 합 :', (lambda x,y:x+y)(100,200))

100과 200의 합 : 300

In [136]:
f = lambda * x: max(x) * 2
print(f(1,3,7))

14

In [137]:
f = [lambda x: x+1, lambda x: x+2, lambda x: x+3]

print(f[0](1))
print(f[1](1))
print(f[2](1))

2
3
4

---

In [138]:
def func(x):
    if x>0:
        return x
    else:
        return x - 100
    
print(list(filter(func, range(-5,5))))

[-5, -4, -3, -2, -1, 0, 1, 2, 3, 4]

In [139]:
def func(x):
    if (x>2) - 1 > 0:
        return True
    elif x % 2 == 0:
        return True
    else:
        return False
    
print(list(filter(func, range(-5,5))))

[-4, -2, 0, 2, 4]

In [140]:
def adult_func(n):
    # 19세 이상값이 들어오면 True 그렇지 않으면 False를 반환
    if n >= 19:
        return True
    else:
        return False

ages = [34,39,20,18,13,54]
print('나이 리스트 :')
for a in filter(adult_func,ages): # filter를 사용한 ages의 필터
    print(a,end=' ')

나이 리스트 :
34 39 20 54

In [141]:
ages = [34,39,20,18,13,54]
print('나이 리스트 :')
for a in filter(lambda x: x>=19, ages): # filter를 사용한 ages의 필터
    print(a,end=' ')

나이 리스트 :
34 39 20 54

---

In [142]:
# Map 함수
a = [1,2,3,4,5,6,7]
square_a = []
for n in a:
    square_a.append(n**2)
    
print(square_a)


# >>>

def square(x):
    return x ** 2

a = [1,2,3,4,5,6,7]
square_a = list(map(square,a))
print(square_a)

[1, 4, 9, 16, 25, 36, 49]
[1, 4, 9, 16, 25, 36, 49]

In [143]:
a = [1,2,3,4,5,6,7]
square_a = list(map(lambda x:x**2,a))
print(square_a)

[1, 4, 9, 16, 25, 36, 49]

In [144]:
# Zip 집 함수
# Example1

a = 'YUN'
b = [1,2,3]
c = ('하나','둘','셋')

print(list(zip(a,b,c)))
print(set(zip(a,b,c)))
print(dict(zip(a,b)))

[('Y', 1, '하나'), ('U', 2, '둘'), ('N', 3, '셋')]
{('Y', 1, '하나'), ('N', 3, '셋'), ('U', 2, '둘')}
{'Y': 1, 'U': 2, 'N': 3}

In [145]:
numbers = [[1,2,3],[4,5,6]]

print(*numbers)
print(list(zip(*numbers)))
print(list(zip([1,2,3],[4,5,6])))

[1, 2, 3] [4, 5, 6]
[(1, 4), (2, 5), (3, 6)]
[(1, 4), (2, 5), (3, 6)]

In [146]:
# 리듀스(reduce) 함수
# 앞의 두 변수 먼저 조건식에 맞는 결과를 출력하고
# 그 다음 변수에 조건식을 넣고
# 계속해서 반복
from functools import reduce
a = [1,2,3,4]
n = reduce(lambda x,y: x+y,a)
print(n)

b = [1,2,3,4]
m = reduce(lambda x,y: x*y,a)
print(m)

10
24

---

In [147]:
# 간소화 : comprehension
# 리스트 comprehension(리스트 축약) 
# >> {표현식} for {변수} in {반복자/연속열} if {조건 표현식} ]
# 또는 [{표현식} for {변수} in {반복자/연속열}]

# Example1
L1 = [i**2 for i in range(10) if (i > 5)]
print(L1)

L2 = [i**2 for i in range(10) if (i>5) and (i%2 ==0)]
print(L2)

L3 = [i**2 if i<5 else i for i in range(10)]
print(L3)

[36, 49, 64, 81]
[36, 64]
[0, 1, 4, 9, 16, 5, 6, 7, 8, 9]

In [148]:
# Tuple comprehension
data = [0,7,6,9,2,3]
T = tuple((i for i in data))
print(T)

(0, 7, 6, 9, 2, 3)

In [149]:
# Set comprehension
# 주의 !!set은 중복을 허용하지 않는다!!
# set은 순서가 중요하지 않다
text = 'YUNDAHEE'
S1 = set([i for i in text])
print(S1)

S2 = {i for i in text}
print(S2)

{'Y', 'H', 'A', 'E', 'D', 'U', 'N'}
{'Y', 'H', 'A', 'E', 'D', 'U', 'N'}

In [150]:
# Dictionary comprehension
text = 'cheese'
D = {i : text.count(i) for i in text}
print(D)

{'c': 1, 'h': 1, 'e': 3, 's': 1}

---

In [151]:
# If 조건식을 활용한 필터링
# Example1
ages = [34,39,20,18,13,54]
adult_ages = list(filter(lambda x: x>= 19, ages))
print('나이 리스트 :', adult_ages)

ages = [34,39,20,18,13,54]
print('나이 리스트 :', [x for x in ages if x>= 19])

나이 리스트 : [34, 39, 20, 54]
나이 리스트 : [34, 39, 20, 54]

In [152]:
# Example2
[int(x) for x in input('정수를 여러개 입력하세요 : ').split()]

정수를 여러개 입력하세요 : 12 13 14

[12, 13, 14]

In [153]:
# Example3
product_xy = []
for x in [1,2,3]:
    for y in [2,4,6]:
        product_xy.append(x*y)
print(product_xy)

# 또는
product_xy = [x*y for x in [1,2,3] for y in [2,4,6]]
print(product_xy)

[2, 4, 6, 4, 8, 12, 6, 12, 18]
[2, 4, 6, 4, 8, 12, 6, 12, 18]

In [154]:
# Example4
[n for n in range(1,31) if n % 2 == 0 if n % 3 == 0]

[6, 12, 18, 24, 30]

In [155]:
# Exmaple5
[n for n in range(1,31) if n % 2 == 0 if n % 3 == 0 if n % 5 == 0]

[30]

---

In [156]:
# 반복자 iterator
import numpy as np
_str = iter('1234')
_tuple = iter((1,2,3,4))
_list = iter([1,2,3,4])
_dict = iter({'a':1, 'b':2, 'c':3, '4':4})
_set = iter({1,2,3,4})
_array = iter(np.array([[1,2],[3,4]]))

print(next(_str))
print(next(_str))
print(next(_str))

1
2
3

In [157]:
# 반복자 객체로 변환 가능한 리스트 형과 변환 불가능한 정수형

l = [10,20,30]    # 반복가능 자료형인 리스트
l_iter = iter(l)
l_iter

# n = 100
# n_iter = iter(n)  # 반복불가능 자료형인 int
# >> 오류

In [158]:
# 리스트가 반복가능 객체인가 검사
try:
    l = [10,20,30]
    iterator = iter(l)
    
except TypeError:
    print('list는 iterable 객체가 아닙니다')

else:
    print('리스트는 iterable 객체입니다')
    
    
# 튜플이 반복가능 객체인가 검사
try:
    t = ('홍길동', 22, 79.7)
    iterator = iter(t)

except TypeError:
    print('tuple은 iterable 객체가 아닙니다')

else:
    print('tuple은 iterable 객체입니다')


# 정수형이 반복가능 객체인가 검사
try:
    n=100
    iterator = iter(n)

except TypeError:
    print('n은 iterable 객체가 아닙니다')

else:
    print('n은 iterable 객체입니다')

리스트는 iterable 객체입니다
tuple은 iterable 객체입니다
n은 iterable 객체가 아닙니다

In [159]:
lst = [10,20,30]
l_iter = iter(lst) # 리스트형 객체를 반복자로 변형
print(type(l_iter))
print(next(l_iter))
print(next(l_iter))
print(next(l_iter))
StopIteration

<class 'list_iterator'>
10
20
30

StopIteration

In [160]:
print(type(range(3)))
r_iter = iter(range(3)) # range형 객체를 반복자로 변형
print(type(r_iter))
print(next(r_iter))
print(next(r_iter))
StopIteration

<class 'range'>
<class 'range_iterator'>
0
1

StopIteration

In [161]:
class OddCounter:
    # 1부터 증가하는 홀수를 반환하는 클래스
    def __init__(self, n=1): # 초기화 메소드, n을 1로 둔다
        self.n=n
    def __iter__(self): # 반복자는 __iter__()함수를 가져야 함
        return self
    def __next__(self): # 반복자는 __next__()함수를 가져야 함
        t = self.n # self.n을 임시 변수 t에 저장해 두고
        self.n += 2 # self.n을 2 증가시킨다
        return t # t부터 출력해야 1이 가장 먼저 출력된다

In [162]:
my_counter = OddCounter()
print(next(my_counter))
print(my_counter.__next__())
print(my_counter.__next__())
print(my_counter.__next__())

1
3
5
7

In [163]:
class OddCounter:
    # 1부터 증가하는 홀수를 반환하는 클래스
    def __init__(self, n=1): # 초기화 메소드, n을 1로 둔다
        self.n=n
    def __iter__(self): # 반복자는 __iter__()함수를 가져야 함
        return self
    def __next__(self): # 반복자는 __next__()함수를 가져야 함
        t = self.n # self.n을 임시 변수 t에 저장해 두고
        self.n += 2 # self.n을 2 증가시킨다
        return t # t부터 출력해야 1이 가장 먼저 출력된다

my_counter = OddCounter()
for x in my_counter:
    if x>20:
        break
    print(x, end= ' ')

1 3 5 7 9 11 13 15 17 19

In [164]:
class OddCounter:
    def __init__(self, n=1):
        self.n=n
    def __iter__(self):
        return self
    def __next__(self):
        if self.n < 20:
            t = self.n
            self.n += 2
            return t
        raise StopIteration
    
my_counter = OddCounter()
for x in my_counter:
    print(x,end=' ')

1 3 5 7 9 11 13 15 17 19

In [165]:
# 반복가능 객체를 위한 내장함수
time_str = '2019.02.20'
time_str.split(',')

['2019.02.20']

---

In [166]:
# split
url = 'http://www.naver.com/test'
ret1 = url.split('/')
print(ret1)

['http:', '', 'www.naver.com', 'test']

In [167]:
# reverse
listdata = list(range(5))
listdata.reverse() # 원본 데이터가 역순으로 정렬됨
print(listdata)

listdata=list(range(5))
ret1 = reversed(listdata) # 원본데이터가 역순으로 정렬되지는 않음, ret1은 역순 반복가능객체
print(ret1)

[4, 3, 2, 1, 0]
<list_reverseiterator object at 0x0000026890BE2440>

In [168]:
ret2 = listdata[::-1]
print(list(ret1))
print(ret2)
print(listdata)

[4, 3, 2, 1, 0]
[4, 3, 2, 1, 0]
[0, 1, 2, 3, 4]

---

In [169]:
# Random 모듈

import random
print(random.random())            # 0.0 <= x <= 1.0     실수형
print(random.uniform(3.5,3.6))    # a   <= x <= b       실수형
print(random.randrange(10))       # 0   <= x <  a       정수형
print(random.randrange(3,7))      # a   <= x <  b       정수형
print(random.randint(5,9))        # a   <= x <  b       정수형

0.6546842338705852
3.540007673445216
4
3
8

In [170]:
L = [1,10,100,1000]
print(random.choice(L))   # L에서 하나 고르기
print(random.sample(L,2)) # 2개 랜덤뽑기

random.shuffle(L)         # L의 순서를 섞음
print(L)

100
[10, 1000]
[1000, 10, 1, 100]

In [171]:
# 난수 모듈
import random
random.seed(0)

state = random.getstate()
print(random.sample(range(10),k=5))
print(random.sample(range(10),k=5))

random.setstate(state)
print(random.sample(range(10),k=5))

[6, 9, 0, 2, 4]
[7, 6, 4, 3, 2]
[6, 9, 0, 2, 4]

[목차로 돌아가기](#목차)

# 입출력

In [172]:
# input 함수

In [174]:
# input 다중 데이터 입력
num1,num2,num3 = input('세 정수를 입력하세요:').split()
num1,num2,num3 = int(num1),int(num2),int(num3)
print(num1,num2,num3)
# 또는
num1,num2,num3 = map(int, input('세 정수를 입력하세요 :').split())
print(num1,num2,num3)

세 정수를 입력하세요:12 14 15
12 14 15
세 정수를 입력하세요 :32 13 154
32 13 154

In [175]:
# input, eval
re = eval(input('아무거나 입력하세요'))
# 3*5+92-45*3
# >> -28
print(re)

아무거나 입력하세요3*5-39*31
-1194

In [176]:
# input 여러 개의 수를 사용자로부터 입력 받기
# Example1
cr= input('3명의 국어점수 입력:')
# 90,87,81  그대로 입력
k1,k2,k3 = eval(cr)
print(k1,k2,k3, '합계:', k1+k2+k3)

# 합계 258

3명의 국어점수 입력:90,87,81
90 87 81 합계: 258

In [177]:
# input 여러 개의 수를 사용자로부터 입력 받기
# Example2
xx = input('사용자가 입력한 수열을 받아 평균을 출력해줍니다. 수열을 입력하세요')
zz = xx.split(',')

def cal(a):
    result = 0
    count = 0
    while a:                # A 리스트에 값이 있는 동안
        mark = a.pop()      # A 리스트의 가장 마지막 항목을 하나씩 뽑아냄
        z = int(mark)
        result += z
        count += 1
    average = result/count
    return(average)
print(cal(zz))

사용자가 입력한 수열을 받아 평균을 출력해줍니다. 수열을 입력하세요1,3,6,3,8,4
4.166666666666667

In [178]:
# format을 이용한 출력
# 고급 format() 메소드

---

In [179]:
# 파일 생성하기 - 현재 디렉토리에 생성함
f = open('새파일.txt', 'w')
f.close

|파일열기모드|설명|
|:---------:|:----|
|r|읽기모드 - 파일을 읽기만 할 때 사용|
|w|쓰기모드 - 파일에 내용을 쓸 때 사용|
|a|추가모드 - 파일의 마지막에 새로운 내용을 추가 시킬 때 사용|

In [180]:
# C:/doit 이라는 파일에 파일 생성
f = open('C:/doit/새파일.txt', 'w')
f.close()

In [181]:
f = open('C:/doit/새파일.txt', 'w')
for i in range(1,11):
    data = '%d번째 줄입니다.\n' % i
    f.write(data)

In [182]:
# readline() 함수 사용하기
f = open('C:/doit/새파일.txt', 'r')
while True:
    line = f.readline()
    if not line: break
    print(line)
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

In [183]:
# realines() 함수 사용하기
f = open('C:/doit/새파일.txt', 'r')
lines = f.readlines()
for line in lines:
    print(line)
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

In [184]:
# read() 함수 사용하기
f = open('C:/doit/새파일.txt', 'r')
data = f.read()
print(data)
f.close()

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.

In [185]:
## 텍스트 파일 한 줄씩 읽기
# with open의 장점은
# 위의 예시인 f.open과 다르게
# open을 하고 close를 반드시 하지 않아도 된다.
with open('C:/doit/새파일.txt', mode='r') as file:
    content = list()
    
    while True:
        sentence = file.readline()
        
        if sentence:
            content.append(sentence)
        
        else:
            break
        
    print(content)
    

with open('C:/doit/새파일.txt', mode='r') as file:
    content = list()
    
    for f in file:
        content.append(f)
        
    print(content)

['1번째 줄입니다.\n', '2번째 줄입니다.\n', '3번째 줄입니다.\n', '4번째 줄입니다.\n', '5번째 줄입니다.\n', '6번째 줄입니다.\n', '7번째 줄입니다.\n', '8번째 줄입니다.\n', '9번째 줄입니다.\n', '10번째 줄입니다.\n']
['1번째 줄입니다.\n', '2번째 줄입니다.\n', '3번째 줄입니다.\n', '4번째 줄입니다.\n', '5번째 줄입니다.\n', '6번째 줄입니다.\n', '7번째 줄입니다.\n', '8번째 줄입니다.\n', '9번째 줄입니다.\n', '10번째 줄입니다.\n']

In [186]:
### txt.파일을 읽어들일 때 가끔 오류나는 이유
### ANSI코드 >> UTF-8코드로 변경하여 저장

In [187]:
with open('C:/doit/새파일.txt', mode='r') as file:
    lines = file.readlines()
    print(lines)
    
print()

with open('C:/doit/새파일.txt', mode='r') as file:
    lines = file.read()
    print(lines)

['1번째 줄입니다.\n', '2번째 줄입니다.\n', '3번째 줄입니다.\n', '4번째 줄입니다.\n', '5번째 줄입니다.\n', '6번째 줄입니다.\n', '7번째 줄입니다.\n', '8번째 줄입니다.\n', '9번째 줄입니다.\n', '10번째 줄입니다.\n']

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.

In [188]:
# 파일에 새로운 내용 추가하기
f = open('C:/doit/새파일.txt', 'a')
for i in range(11,20):
    data = '%d번째 줄입니다.\n' % i
    f.write(data)
f.close()

In [189]:
# 텍스트 파일 쓰기
with open('C:/doit/새파일.txt', mode='w') as file:
    words = ['python\n', 'yundahee\n', '076923\n']
    
    file.write('start\n')
    file.writelines(words)
    file.write('end')

---

In [190]:
# Sys 모듈로 입력 인수 주기
'''
중요!! 새 파일로 만들기
파일이름 : sys1.py

import sys
args = sys.argv[1:]
for i in args:
    print(i)

다음 코드만 입력

>>

Anaconda Prompt를 실행시킨 후 보이는 위치에 저장한 sys1.py를 옮겨준다
그리고
python sys1.py 10 20 안녕하세요~~ 등과 같이 sys1.py이후 쓰고 싶은 텍스트를 쓰면
파일 내부로 들어가 실행할 수 있게된다.
'''

'\n중요!! 새 파일로 만들기\n파일이름 : sys1.py\n\nimport sys\nargs = sys.argv[1:]\nfor i in args:\n    print(i)\n\n다음 코드만 입력\n\n>>\n\nAnaconda Prompt를 실행시킨 후 보이는 위치에 저장한 sys1.py를 옮겨준다\n그리고\npython sys1.py 10 20 안녕하세요~~ 등과 같이 sys1.py이후 쓰고 싶은 텍스트를 쓰면\n파일 내부로 들어가 실행할 수 있게된다.\n'

In [191]:
'''
sys2.py 파일로 다음 코드도 마찬가지로 같은 위치에 저장

import sys
args = sys.argv[1:]
for i in args:
    print(i,upper(), end=' ')
'''

# life is too short, you need python
# >> 결과
# LIFE IS TOO SHORT, YOU NEED PYTHON

"\nsys2.py 파일로 다음 코드도 마찬가지로 같은 위치에 저장\n\nimport sys\nargs = sys.argv[1:]\nfor i in args:\n    print(i,upper(), end=' ')\n"

In [192]:
# sys_test 파일로 다음 코드도 마찬가지로 같은 위치에 저장

# import sys  # 1)
# if len(sys.argv) > 1: # 2)
#     filename = sys.argv[1]
#     file = open(filename, 'r', encoding ='utf8') # 3)
#     text_str = file.read() # 4)
#     print(text_str)
#     file.close() # 5)
    
'''
1. 스크립트를 실행할 때 인자를 받기 위해서 sys 모듈이 필요하다
2. 실행 인자는 sys.argv에 저장되어 있다. 리 리스트의 첫 인자는 스크립트
3. open()함수를 이용해서 파일을 텍스트 읽기모드로 열었다. 이 때 파일의 인코딩은 utf8이라고 본다.
4. 파일의 전체 내용을 읽어서 text_str에 할당한다. 이 값은 문자열 타입이다.
5. 파일의 내용을 출력한 후에 파일을 닫아준다.

Anaconda Prompy에 sys_test.py C:/doit/새파일.txt

!!! 이때 C:/doit/새파일.txt는 위에서 만든 폴더와 파일이다. !!!
'''

'\n1. 스크립트를 실행할 때 인자를 받기 위해서 sys 모듈이 필요하다\n2. 실행 인자는 sys.argv에 저장되어 있다. 리 리스트의 첫 인자는 스크립트\n3. open()함수를 이용해서 파일을 텍스트 읽기모드로 열었다. 이 때 파일의 인코딩은 utf8이라고 본다.\n4. 파일의 전체 내용을 읽어서 text_str에 할당한다. 이 값은 문자열 타입이다.\n5. 파일의 내용을 출력한 후에 파일을 닫아준다.\n\nAnaconda Prompy에 sys_test.py C:/doit/새파일.txt\n\n!!! 이때 C:/doit/새파일.txt는 위에서 만든 폴더와 파일이다. !!!\n'

---

In [193]:
# CSV 파일 읽기
# test1 이라는 엑셀파일에서 데이터를 임의로 넣고
# csv(encoding utf8)로 저장한다
import csv
import pprint

with open('C:/Users/admin/Desktop/빅데이터/000000000/예제문서파일/test1.csv', encoding='utf-8-sig') as file:
    reader = csv.reader(file)
    sample = list(reader)
    
pprint.pprint(sample)

[['asdas', 'ddsad'], ['asdas', 'sad'], ['asdas', 'asde']]

[목차로 돌아가기](#목차)

# Module & Package

- Module
- import 모듈명 # 스크립트 확장자.py는 생략

1. from 모듈명 import 함수면 as 명칭
2. from 모듈명 import 클래스명 as 명칭
3. from 모듈명 import 함수명1,함수명2 # 여러 함수를 불러올 때
4. from 모듈명 import * # 모듈 내의 모든 내용을 불러올 때

- Package
1. import 패키지명
2. from 패키지명 import 모듈명
3. from 패키지명 import 모듈명1, 모듈명2
4. from 패키지명 import *

In [194]:
# Example1
import test_package.say_hello, test_package.say_goodbye
test_package.say_hello.hello()
test_package.say_goodbye.goodbye()

안녕하세요. 반갑습니다.
만나서 반갑습니다. 안녕히 가세요!

In [195]:
from test_package import say_hello, say_goodbye
say_hello.hello()
say_goodbye.goodbye()

안녕하세요. 반갑습니다.
만나서 반갑습니다. 안녕히 가세요!

In [196]:
# __name__ == '__main__'
# 파일을 직섭 실행(main으로 실행)시에는 실행하고
# import 시에는 실행하지 않는 조건

# 다음 코드를 mod2.py 파일로 새로 만듬
PI = 3.141592
class Math:
    def solv(self, r):
        return PI * (r**2)
    
def sum(a,b):
    return a+b

if __name__ == '__main__':
    print(PI)
    a = Math()
    print(a.solv(2))
    print(sum(PI,4.4))

3.141592
12.566368
7.5415920000000005

In [197]:
runfile('mod2.py')

3.141592
12.566368
7.5415920000000005

In [198]:
import mod2
print(mod2.PI)

a = mod2.Math()
print(a.solv(2))

print(mod2.sum(mod2.PI,4.4))

3.141592
12.566368
7.5415920000000005

In [199]:
# 현재 디렉토리 추가 및 삭제
import sys
# sys.path

In [ ]:
pwd() # >> 현재 디렉토리, 저장불가능

In [ ]:
import os
os.getcwd() # >> 현재 디렉토리, 저장가능

In [ ]:
# 디렉토리 추가
sys.path.append(os.getcwd())
sys.path

In [ ]:
# 디렉토리 삭제
sys.path.remove(os.getcwd())
sys.path

In [204]:
# 작업 디렉토리 변경
import os
os.getcwd()
os.chdir('C:/Users/admin/Desktop/빅데이터')
os.getcwd()

'C:\\Users\\admin\\Desktop\\빅데이터'

---

- Numpy, Scipy, Sympy, Pandas, Matplotlib, Seaborn, StatsModels, Tensorflow, Keras 등

In [207]:
# Numpy - csv파일 불러오기
import numpy as np
csv_data = np.loadtxt('파일이름.csv', delimiter=',')
print(csv_data[0][0]) # 첫 번째 줄 첫 번째 데이터 출력

In [206]:
# Pandas - csv파일 불러오기 , 첫줄 header 무시
import pandas as pd
csv_data = pd.read_csv('C:/Users/admin/Desktop/빅데이터/00000000000/예제문서파일/test1.csv', header = None)
csv_data

       0      1
0  asdas  ddsad
1  asdas    sad
2  asdas   asde

[목차로 돌아가기](#목차)